body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100svh;
}

h1 {
    text-align: center;
    margin: 1.5rem 0 0 0;
}

h2 {
    font-size: 1.25rem;
    text-align: center;
    margin: 0.5rem 0 1rem 0;
}

.app {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#filters {
    display: none;
}

#merge-playlists-btn, #login-btn {
    display: block;
    margin-bottom: 20px;
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
}

.playlists {
    list-style: none;
    padding: 0.5rem 0 0.5rem 0;
    margin: 0;
    min-width: 50%;
}

.playlist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 3px;
}

.playlist-item span {
    flex-grow: 1;
    margin-right: 10px;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message {
    min-width: 50%;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    border-radius: 3px;
    margin-bottom: 0.5rem;
}

.message p {
    font-size: 0.8rem;
    margin: 10px;
}

.message button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 10px;
}

.message button:hover {
    opacity: 0.5;
}